@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <a style="margin-left:18px;" id="addNew" href="#" class="btn btn-success">+ Thêm mới</a>
            <h2 class="text-center text-uppercase">Danh mục</h2>
            <div class="btn-group form-check">
                <header id="clearSearch">
                    Tên danh mục:
                    <input type="text" id="txtSearch" name="SearchString" value="@ViewData[" CurrentFilter"]" />
                    <span style="font-size:23px;">&times;</span>
                    <input type="button" id="btnSearch" value="Tìm kiếm" class="btn btn-info" />
                </header>
            </div>
        </div>
    </div>
    <br />
    <div id="main_table">

    </div>

    @* Show Modal Insert Daialog *@
    <div class="modal fade" id="myInsertModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addModalTitle">Thêm mới danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="alert alert-danger" style="display:none">

                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="cateId" value="" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tên danh mục<span class="required">*</span></label>
                            <input type="text" class="form-control" id="cateName" value="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary add">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Show Modal Update Dialog *@
    <div class="modal fade" id="myUpdateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="updateModalTitle">Sửa đổi danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="alert alert-danger" style="display:none">

                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="cateUpdateId" value="" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tên danh mục<span class="required">*</span></label>
                            <input type="text" class="form-control" id="cateUpdateName" value="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary update">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Show Modal View Dialog *@
    <div class="modal fade" id="myDetailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="detailModalTitle">Chi tiết danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="cateDetailId" value="" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tên danh mục<span class="required">*</span></label>
                            <input type="text" class="form-control" id="cateDetailName" value="" readonly />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-warning" data-dismiss="modal">Quay lại</button>

                </div>
            </div>
        </div>
    </div>

    <style>
        #clearSearch {
            position: relative;
        }

            #clearSearch span {
                position: absolute;
                top: -1px;
                left: 270px;
                cursor: pointer;
                font-weight: bold;
                color: darkblue;
                display: none;
            }
    </style>
</div>

<script>
    var deleteX = function () {
        var keyword = $("#txtSearch").val();
        if (keyword.length > 0) {
            $("#txtSearch").val('');
            showTable();
            $(this).css('display', 'none');
            $("#txtSearch").focus();
        }
    }

    var toggleClearSearch = function () {
        var keyword = $("#txtSearch").val();
        if (keyword.length > 0) {
            $("#clearSearch span").css('display', 'block');
        }
        else {
            $("#clearSearch span").css('display', 'none');
        }
    }

    var reActivePagination = function () {
        $("ul.pagination li a").on("click", function (e) {
            e.preventDefault();
            var p = $(this).text();
            $("ul.pagination li").removeClass("active");
            var parent = $(this).parents('li');
            parent.addClass('active');
            parent.html("<span>" + p + "</span>");
            showTable();
        });
    }

    var AddNewCate = function () {
        $('.alert-danger').hide();
        $("#cateName").val('');
        jQuery.noConflict();
        $("#myInsertModal").modal();
    };

    var AddCategory = function () {
        var cateName = $("#cateName").val();
        var data = {
            category_name: cateName
        };
        $.ajax({
            url: "/Category/Create",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    showTable();
                    $("#myInsertModal").modal('hide');
                } else {
                    $('.alert-danger').show();
                    $('.alert-danger').text("Tên danh mục đã tồn tại !");
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log("Error: ", errorMessage);
            }
        })
    }

    function getByID(cateId) {
        $('.alert-danger').hide();
        $.ajax({
            url: "/Category/Update/" + cateId,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $("#cateUpdateId").val(cateId);
                $("#cateUpdateName").val(result.category_name);
                jQuery.noConflict();
                $("#myUpdateModal").modal();
                $("#updateModalTitle").text("Thông tin danh mục");
            }
        });
    }

    var UpdateCategory = function () {
        var cateId = $("#cateUpdateId").val();
        var cateName = $("#cateUpdateName").val();
        var data = {
            category_id: cateId,
            category_name: cateName
        };
        $.ajax({
            url: "/Category/Update",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    showTable();
                    $("#myUpdateModal").modal('hide');
                }
                else {
                    $('.alert-danger').show();
                    $('.alert-danger').text("Tên danh mục đã tồn tại !");
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log("Error: ", errorMessage);
            }
        });
    }

    function getDetailId(cateid) {
        $.ajax({
            url: "/Category/Detail/" + cateid,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (res) {
                $("#cateDetailId").val(cateid);
                $("#cateDetailName").val(res.category_name);
                jQuery.noConflict();
                $("#myDetailModal").modal();
            }
        });
    }

    var deleteCategory = function () {
        var result = confirm("Bạn có chắc muốn xóa không ?");
        if (result == true) {
            var cateId = $(this).attr("data-id");
            var url = "/Category/Delete";
            $.ajax({
                type: "GET",
                url: url,
                data: { id: cateId },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (res.success) {
                        alert(res.message);
                        showTable();
                    }
                    else {
                        alert(res.message);
                    }
                }
            });
        }
        else {
            return false;
        }
    };

    var getResultSearch = function () {
        var keyword = $("#txtSearch").val();
        var page = $("ul.pagination li.active span").text();
        $("#main_table").html("Loading...");
        $.get("/category/GetTable?searchString=" + keyword + "&page=" + page + "").then(xhr => {
            $("#main_table").html(xhr);
        })
    }

    var showTable = function () {
        var keyword = $("#txtSearch").val();
        var page = $("ul.pagination li.active span").text();
        $("#main_table").html("Loading...");
        if (keyword.length > 0) {
            getResultSearch();
        }
        else {
            $.get("/category/GetTable?searchString=" + keyword + "&page=" + page + "").then(xhr => {
                $("#main_table").html(xhr);
                reActivePagination();
                $("[data-id]").on('click', deleteCategory);
            });
        }
    }

    $(document).ready(function () {
        showTable();

        $("#btnSearch").on("click", showTable);

        $("#txtSearch").on("input", toggleClearSearch);

        $("#clearSearch span").on("click", deleteX);

        $("#addNew").on('click', AddNewCate);

        $("#myInsertModal").find(".add").on('click', AddCategory);

        $("#myUpdateModal").find(".update").on('click', UpdateCategory);


    });
</script>
