<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("PageStyles", required: false)
<style>
html, body {
  height: 100%;
  margin: 0;
}
.full-height {
  height: 100%;
}
</style>

    
</head>
<body>
   <div style="background: yellow;">
       <span>
        <a href="/" style="padding: 5px 0;">
            <img src="https://w0.pngwave.com/png/673/239/entity-framework-core-asp-net-core-net-framework-microsoft-png-clip-art-thumbnail.png" height="100" />
        </a>
        <h1>Header</h1>
       </span>
   </div>
<div class="full-height">
    @RenderBody()
</div>
   <div style="background: #ccc;">
     <h1>Footer</h1>
   </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("PageScripts", required: false)
</body>
</html>
